@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.navBar {
	transition: background-color 0.2s;
}

.poppinsFont {
	font-family: "Poppins", sans-serif;
}

@keyframes carouselAnimation {
	0% {
		right: 1933px;
	}
	100% {
		right: 0;
	}
}
.partnersCarousel {
	animation: carouselAnimation 30s linear infinite;
}
.testimonialSection {
	background-image: url("../public/images/hourglass.svg");
}
@keyframes testimonialCarouselAnimation {
	0% {
		left: 0;
	}
	100% {
		left: -848px;
	}
}
.testimonialCarousel {
	animation: testimonialCarouselAnimation 20s linear infinite;
}
.eccBlue {
	color: #0b63c5;
}

@layer components {
	.hoverAnimation {
		@apply hover:bg-[#fff]  cursor-pointer transition duration-300 ease-in-out;
	}
	.hoverAnimation:hover a {
		@apply text-[#000] transition duration-[250] ease-in-out;
	}
}

.check {
	list-style-image: url(../public/icons/check.svg);
}
tbody tr:nth-of-type(odd) {
	background-color: #f9fafc;
}

.answers {
	transition: 0.7s ease;
}

.questions:checked ~ .answers {
	height: auto;
	opacity: 1;
	margin-top: 16px;
	padding-bottom: 14px;
}

.plus {
	transition: 0.3s ease;
}

.questions:checked ~ .plus {
	transform: rotate(180deg);
}

.loadingCircle {
	animation: bounce 1s ease-in-out infinite;
}

.loadingCircle:nth-of-type(2) {
	animation-delay: 0.1s;
}

@keyframes bounce {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

.pointerShadow {
	filter: drop-shadow(0px 4px 4px #404040);
}

.howItWorksContent1 .howItWorksCard:nth-child(1) {
	background-color: #0b63c5;
}

.howItWorksContent1 .howItWorksCard:nth-child(2) {
	background-color: #020d1b;
}

.howItWorksContent1 .howItWorksCard:nth-child(3) {
	background-color: #f1f7fe;
}

.howItWorksContent1 .howItWorksCard:nth-child(3) .howItWorksCardText {
	color: #0b63c5;
}

.howItWorksContent2 .howItWorksCard:nth-child(1) {
	background-color: #f1f7fe;
}

.howItWorksContent2 .howItWorksCard:nth-child(1) .howItWorksCardText {
	color: #0b63c5;
}

.howItWorksContent2 .howItWorksCard:nth-child(2) {
	background-color: #0b63c5;
}

.howItWorksContent2 .howItWorksCard:nth-child(3) {
	background-color: #020d1b;
}

.howItWorksCard:last-of-type .pointerShadow {
	display: none;
}
